<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Gulp</title>
    <!-- vendor:css -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/mocha/mocha.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <!-- endinject -->
    
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- vendor:js -->
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/jquery-ui/jquery-ui.js"></script>
    <script src="/mocha/mocha.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endinject -->
    
    <script src="js/index.js"></script>
</body>
</html>